.card {
    width: 30%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
    background: linear-gradient(green, yellowgreen, yellow);
}

.name__user {
    text-align: center;
}

.phone_email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero_boxDiv {
    width: 200px;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(83, 132, 0);
}

.adress {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
} 

.cars{
    width: 200px;
    background-color: rgb(150, 205, 1);
    border-radius: 15px;
    padding: 10px;
    
}

.list{
    list-style: none;
    display: flex;
}
.map_label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}